header {
  width: 100%;
  margin-top: 22px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.left_part {
  display: flex;
}
.left_part .logo {
  margin-left: 120px;
  width: 150px;
  height: 28px;
}
.left_part .logo_part::after {
  content: "";
  width: 1px;
  height: 38px;
  position: absolute;
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 1px solid #979797;
  margin-left: 16px;
}
.left_part p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  margin-left: 31px;
  color: #000000;
}

.right_part {
  display: flex;
}
.right_part .hero_ul {
  display: flex;
  list-style: none;
}
.right_part .phone_version {
  padding: 12px 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  background: #3CC8AE;
  box-shadow: 0px 12px 24px rgba(60, 200, 174, 0.5);
  border-radius: 3px;
  display: none;
  text-align: center;
  letter-spacing: 1.18462px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.right_part a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 28px;
  color: #173047;
}
.right_part a:hover {
  color: aqua;
}
.right_part .vector {
  margin-bottom: 5px;
}
.right_part .comp_version {
  padding: 15px 23px 15px 51px;
  display: flex;
  align-items: center;
  background: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  border: none;
  text-align: center;
  mix-blend-mode: normal;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #173047;
}
.right_part .comp_version:hover {
  background-color: #91a4b7;
  transition: 1s;
}
.right_part .comp_version:active {
  background-color: aqua;
  transition: 0s;
  color: white;
}
.right_part .user {
  margin-right: 15px;
}
.right_part .li {
  position: relative;
}
.right_part .main_collection:hover .collection {
  display: block;
}
.right_part .main_collection:hover::after {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #173047;
  top: 17px;
  left: 40px;
  position: absolute;
}
.right_part .collection {
  position: absolute;
  top: 10px;
  padding: 20px;
  list-style: none;
  right: 0px;
  display: none;
  cursor: pointer;
}
.right_part .li2 {
  background-color: #91a4b7;
  padding: 9px 20px;
}
.right_part .li2:hover {
  background-color: aqua;
  border: 1px solid black;
}
.right_part .hero_collection:hover .knowledge_base {
  display: block;
}
.right_part .hero_collection:hover::after {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #173047;
  top: 17px;
  left: 40px;
  position: absolute;
}
.right_part .knowledge_base {
  position: absolute;
  top: 10px;
  padding: 20px;
  list-style: none;
  right: -18px;
  display: none;
  cursor: pointer;
}
.right_part .li3 {
  background-color: #91a4b7;
  padding: 9px 20px;
}
.right_part .li3:hover {
  background-color: aqua;
  border: 1px solid black;
}

.hero_part {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.hero_part .inside_hero {
  width: 820px;
}
.hero_part .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.hero_part .back {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: -0.2px;
  margin-left: 12px;
  color: #3CC8AE;
  cursor: pointer;
  mix-blend-mode: normal;
  opacity: 0.9;
}
.hero_part .back:hover {
  text-decoration: underline;
}
.hero_part .main_text {
  display: flex;
}
.hero_part .vector {
  width: 12px;
  height: 12px;
  margin-top: 22px;
}
.hero_part .date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  color: #152739;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.hero_part h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */
  letter-spacing: -1px;
  color: #152739;
}
.hero_part .topic {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #152739;
}
.hero_part li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.hero_part .market {
  font-family: "SFProDisplay";
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
}
.hero_part .email_part {
  width: 820px;
  height: 221px;
  background: linear-gradient(180deg, #F7F8FA 0%, #EDF1F5 100%);
}
.hero_part .offer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height, or 100% */
  padding: 36px 0px 0px 36px;
  letter-spacing: -0.777778px;
  color: #152739;
}
.hero_part .prefernce {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: -0.2px;
  color: #152739;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding-left: 36px;
}
.hero_part .email {
  padding: 16px 368px 17px 24px;
  margin-left: 36px;
}
.hero_part button {
  padding: 19px 25px;
  background: #3CC8AE;
  box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
  border-radius: 3px;
  color: white;
  border: none;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  cursor: pointer;
}
.hero_part button:hover {
  background-color: aqua;
  transition: 1s;
}
.hero_part .part_date {
  display: flex;
  margin-top: 25px;
}
.hero_part .time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  padding-left: 217px;
  color: #152739;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.box {
  width: 100%;
  height: 591px;
}
.box .main_peace {
  display: flex;
  justify-content: space-around;
}
.box .first {
  margin-left: 120px;
  margin-right: 32px;
}
.box .second {
  margin-right: 32px;
}
.box .question {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height, or 119% */
  letter-spacing: -0.403846px;
  color: #000000;
}
.box a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: -0.2px;
  color: #3CC8AE;
  mix-blend-mode: normal;
  opacity: 0.9;
}
.box a:hover {
  text-decoration: underline;
}

footer {
  width: 1440px;
  height: 360px;
  background-color: #132739;
  margin-top: 77px;
  position: absolute;
  left: 0;
}

.address {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: -0.2px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.countries {
  width: 100%;
  height: 76px;
}

.apex {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.USA {
  padding-right: 16px;
}

.germany {
  padding-left: 63px;
  padding-right: 16px;
}

.the_world {
  padding-left: 63px;
  padding-right: 16px;
}

.line {
  width: 1200px;
  height: 1px;
}

.footer_part {
  display: flex;
  justify-content: space-around;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height, or 119% */
  letter-spacing: -0.403846px;
  color: #FFFFFF;
}

.footer_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  letter-spacing: -0.1875px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer_email {
  padding: 15px 315px 18px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.175px;
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  color: black;
  position: relative;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.final_btn {
  background: #3CC8AE;
  box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
  border-radius: 0px 6px 6px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.29231px;
  text-transform: uppercase;
  position: absolute;
  right: 50px;
  color: #FFFFFF;
}

.last_step {
  width: 100%;
  height: 135px;
  background: #0F1B25;
}
.last_step p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1625px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  text-align: center;
}
.last_step .texts {
  display: flex;
  justify-content: center;
}
.last_step .text1 {
  padding-top: 32px;
}

@media (max-width: 500px) {
  p {
    font-size: 7px;
  }
  .logo_part {
    left: 0;
  }
  .HERO_picture {
    background-size: cover;
  }
  .hero_part {
    margin-left: 120px;
  }
  .li {
    display: none;
  }
  .hero_plt {
    display: none;
  }
  .comp_version {
    display: none;
  }
  .phone_version {
    display: inline;
  }
  .logo {
    position: absolute;
    left: 0;
  }
}/*# sourceMappingURL=main.css.map */